.card-usability-section{
    background-color: #F7F9FF;
    h2{
        margin-bottom: 24px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 24px;
    }
    .image-content-grid{
        align-items: center;
    }
}